{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-7 center-block">
            <h1 class="text-center">Condiciones de uso</h1>
            <h2>Datos identificativos</h2>
            <p>En cumplimiento de lo establecido en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), informamos de los siguientes datos:</p>
            <p>El titular del dominio <a href="{{ path('homepage') }}">www.wibooki.com</a> (en adelante SITIO WEB) es la Asociación wibooki (en adelante, WIBOOKI), inscrita en el Registro de Asociaciones de la Comunidad de Madrid con número de registro 2015C3638190368H, número de CIF G87381901 y domicilio social en la Calle Gomeznarro, 114 - 4 DCHA 28043, Madrid.</p>
            <p>Puedes ponerte en contacto con el equipo en <a href="mailto:info@wibooki.com">info@wibooki.com</a>.</p>

            <h2>Personas usuarias</h2>
            <p>El acceso o uso del SITIO WEB atribuye la condición de persona usuaria (en adelante, USUARIA), que acepta, desde dicho acceso o uso, las Condiciones de uso aquí reflejadas. Las citadas Condiciones serán de aplicación independientemente de condiciones particulares que, en su caso, pudieran aplicar a determinados contenidos o servicios y que serán debidamente notificadas.</p>

            <h2>Uso del sitio web</h2>
            <p>La USUARIA asume la responsabilidad del uso que haga del SITIO WEB. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios. En dicho registro, la USUARIA será responsable de aportar información veraz y lícita. Como consecuencia de este registro, la USUARIA se compromete a hacer un uso diligente y confidencial de su contraseña.</p>
            <p>La USUARIA se compromete a hacer un uso adecuado de los contenidos y servicios del SITIO WEB y, con carácter enunciativo pero no limitativo, a no emplearlos para (i) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; (ii) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; (iii) provocar daños en los sistemas físicos y lógicos del SITIO WEB, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otras personas usuarias y modificar o manipular sus mensajes.</p>
            <p>WIBOOKI se reserva el derecho de retirar todos aquellos contenidos y comentarios que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que pudieran constituir un delito, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación. En cualquier caso, WIBOOKI no será responsable de las opiniones vertidas por las personas usuarias a través de sus herramientas de participación.</p>

            <h2>Propiedad intelectual e industrial</h2>
            <p>WIBOOKI ofrece los contenidos del SITIO WEB bajo la licencia Atribución-Compartir igual 3.0 de Creative Commons. Esta licencia permite compartir y adaptar los contenidos del SITIO WEB para cualquier finalidad, incluso comercial, siempre y cuando se reconozca adecuadamente la autoría de la publicación, se proporcione un enlace a la licencia y se indique si se han realizado cambios. Además, la difusión de la obra derivada debe realizarse bajo la misma licencia que el original.</p>

            <h2>Exclusión de garantías y responsabilidad</h2>
            <p>WIBOOKI no se hace responsable, en ningún caso, de los daños o perjuicios de cualquier naturaleza que pudiera ocasionar a la USUARIA, con carácter enunciativo pero no limitativo, como errores u omisiones en los contenidos, caída del servicio, transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>

            <h2>Modificaciones</h2>
            <p>WIBOOKI se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su SITIO WEB, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se prestan a través de la misma como la forma en la que estos aparecen presentados o localizados.</p>

            <h2>Enlaces</h2>
            <p>Los enlaces establecidos en el SITIO WEB, y cuya titularidad o responsabilidad corresponda a terceros distintos a WIBOOKI, no son responsabilidad de WIBOOKI, quien en ningún caso se obliga a controlar ni a aprobar los servicios, contenidos, datos, archivos, productos y cualquier clase de material existente en los sitios web de terceros. Por lo tanto, WIBOOKI no responderá, bajo ninguna circunstancia, de la legalidad de los contenidos de dichos sitios, siendo responsabilidad exclusiva del tercero todo lo que concierna al contenido de ese enlace. La existencia de enlaces no presupone relación de ninguna clase entre WIBOOKI y el titular de la página web enlazada.</p>

            <h2>Uso de <em>cookies</em></h2>
            <p>El SITIO WEB utiliza <em>cookies</em> (pequeños archivos de información que el servidor envía al ordenador de quien accede al SITIO WEB) para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización del SITIO WEB. Las <em>cookies</em> utilizadas tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior y desaparecen al terminar la sesión de la USUARIA. En ningún caso se utilizarán las <em>cookies</em> para recoger información de carácter personal.</p>

            <h2>Modificación de las presentes condiciones y duración</h2>
            <p>WIBOOKI podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.</p>
        </div>
    </div>
{% endblock %}