{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-7 center-block">
            <h1 class="text-center">Política de privacidad</h1>
            <h2>Introducción</h2>
            <p>La Asociación wibooki (en adelante WIBOOKI) informa a las personas usuarias (en adelante USUARIAS) de <a href="{{ path('homepage') }}">www.wibooki.com</a> (en adelante SITIO WEB) sobre su política respecto del tratamiento y protección de los datos de carácter personal que puedan ser recabados por la navegación o contratación de servicios a través del SITIO WEB.</p>
            <p>En este sentido, WIBOOKI garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD. El uso de este SITIO WEB implica la aceptación de esta política de privacidad.</p>

            <h2>Recogida, finalidad y tratamiento de datos</h2>
            <p>WIBOOKI tiene el deber de informar a las USUARIAS del SITIO WEB acerca de la recogida de datos de carácter personal que pueden llevarse a cabo al cumplimentar los formularios incluidos en el SITIO WEB. En este sentido, WIBOOKI será considerada como responsable de los datos recabados mediante los medios anteriormente descritos.</p>
            <p>A su vez WIBOOKI informa a las USUARIAS de que la finalidad del tratamiento de los datos recabados contempla la atención de solicitudes realizadas por las USUARIAS y la prestación de servicios.</p>
            <p>Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales.</p>
            <p>Todos los datos personales que sean recogidos a través del SITIO WEB, y por tanto tengan la consideración de tratamiento de datos de carácter personal, serán incorporados en los ficheros declarados ante la Agencia Española de Protección de Datos por WIBOOKI.</p>

            <h2>Comunicación de información a terceros</h2>
            <p>WIBOOKI informa a las USUARIAS de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos esté amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un responsable de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos cuando WIBOOKI disponga del consentimiento expreso de la USUARIA.</p>

            <h2>Derechos de las usuarias</h2>
            <p>La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal concede a las personas interesadas la posibilidad de ejercer una serie de derechos relacionados con el tratamiento de sus datos personales.</p>
            <p>En tanto en cuanto los datos de la USUARIA son objeto de tratamiento por parte de WIBOOKI, las USUARIAS podrán ejercer los derechos de acceso, rectificación, cancelación y oposición de acuerdo con lo previsto en la normativa legal vigente en materia de protección de datos personales.</p>
            <p>Para hacer uso del ejercicio de estos derechos, la USUARIA deberá dirigirse mediante comunicación escrita, aportando documentación que acredite su identidad (DNI o pasaporte), a la Calle Gomeznarro, 114 – 4 DCHA, 28043 Madrid o
                la dirección que sea sustituida en el Registro General de Protección de Datos. Dicha comunicación deberá reflejar la siguiente información: Nombre y apellidos de la USUARIA, la petición de solicitud, el domicilio y los datos acreditativos.</p>
            <p>El ejercicio de derechos deberá ser realizado por la propia USUARIA. No obstante, podrán ser ejecutados por una persona autorizada como representante legal. En tal caso, se deberá aportar la documentación que acredite esta representación de la persona interesada.</p>
        </div>
    </div>
{% endblock %}