{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
{% endblock %}

{#{% block top_bar_after_nav %}#}
{#{% endblock %}#}

{% block sonata_sidebar_search %}
    <div></div>
{% endblock %}
{% block side_bar_after_nav_content %}
    <a href="http://xandrusoft.com" rel="noreferrer" target="_blank">XandruSoft® Solutions for your dreams</a>
{% endblock %}